Repository asoudi1987/chatgpt-prompts, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, config, code

.github/labeler.yml:

docs:
  - "**/*.md"
  - "docs/**"
ci:
  - ".github/workflows/**"
config:
  - ".vscode/**"
  - ".agent/**"
code:
  - "**/*.js"
  - "**/*.ts"
  - "**/*.py"

chore: add VS Code settings and Makefile helpers
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
Labels: config

chore: add VS Code settings and Makefile helpers (#2)
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
Labels: config

fix: stabilize VS Code zsh (no -l) & consolidate CI; disable legacy workflows
  .github/workflows.disabled/publish.yml
  .github/workflows.disabled/test.yml
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
  .vscode/settings.json
Labels: ci, config

fix: terminal stability + single green CI (legacy workflows disabled) (#3)
  .github/workflows.disabled/publish.yml
  .github/workflows.disabled/test.yml
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
  .vscode/settings.json
Labels: ci, config

chore: add CI badge, CODEOWNERS, and docs auto-merge workflow
  .github/CODEOWNERS
  .github/workflows/docs-automerge.yml
Labels: ci

Chore/pipeline polish (#4)
  .github/CODEOWNERS
  .github/workflows/docs-automerge.yml
  .vscode/settings.json
Labels: ci, config

chore: seed CI / build (pull_request) context
  docs/ci-seed.md
Labels: docs
